body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}
.container{
    margin: 50px auto;
    margin-left: 450px;
    margin-top: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color:#000000;
    border-radius: 300px;
    border:3px solid gold;
    box-shadow: 0 0 25px gold;

}
.stop{
    font-size: 5em;
    font-family: fantasy;
    color: rgb(246, 243, 243);
    display: inline;
    position: relative;
    top: 270px;
    left: 80px;
    letter-spacing: 25px;

}


.watch{
    font-size: 5em;
    font-family: fantasy;
    color: rgb(246, 243, 243);
    display: inline;
    position: relative;
    top: 270px;
    left: 620px;
    letter-spacing: 25px;

}
.div2{
    font-size: 3em;
    color:white;
    font-family: fantasy;
    position: relative;
    top: 30px;
}
button{
    border: 1px solid #000000;
    padding:1px;
    font-size: 1em;
    width: 95px;
    margin: 30px;
    border-radius: 2000px;
    color: white;
    background-color: gold;
}
button:hover{
    cursor: pointer;
    background-color:black;
    color:gold;
    transition: 0.5s;
    
}


button{
   font-size: 40px;
}
.logo{
    font-size:90px;
    color: gold;
    position: relative;
    top: 10px;
}

.t{
    color: gold;
}